<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.designer.mapper.ServiceMapper">

	<resultMap type="com.example.designer.pojo.Services" id="selectService">
		<id property="sid" column="sid"/>
		<result property="uid" column="uid"/>
		<result property="tid" column="tid"/>
		<result property="mid" column="mid"/>
		<result property="sname" column="sname"/>
		<result property="spic" column="spic"/>
		<result property="snum" column="snum"/>
		<result property="sintro" column="sintro"/>
		<result property="smajor" column="smajor"/>
		<result property="sstime" column="sstime"/>
		<result property="setime" column="setime"/>
		<result property="sctime" column="sctime"/>
		<result property="sread" column="sread"/>
		<result property="sservice" column="sservice"/>
		<result property="sgood" column="sgood"/>
		<result property="sbad" column="sbad"/>
		<result property="status" column="status"/>
		<result property="ssave" column="ssave"/>
		<result property="stelephone" column="stelephone"/>
		<result property="sfile" column="sfile"/>
		<result property="sstate" column="sstate"/>
		<association property="team" javaType="com.example.designer.pojo.TeamSci">
			<id property="tid" column="tid"/>
			<result property="uid" column="uid"/>
			<result property="mid" column="mid"/>
			<result property="tname" column="tname"/>
			<result property="tmajor" column="tmajor"/>
			<result property="tnum" column="tnum"/>
			<result property="tintro" column="tintro"/>
			<result property="tdate" column="tdate"/>
			<result property="tschool" column="tschool"/>
			<result property="tpic" column="tpic"/>
		</association>
	</resultMap>
	<select id="queryAllService" resultMap="selectService">
		select * from service s,team t where s.tid=t.tid and s.status=1
	</select>
	
	<select id="queryXService" resultMap="selectService">
		select * from service s,team t where s.tid=t.tid and s.status=0
	</select>
	
	<select id="querySixService" resultMap="selectService">
		select * from service s,team t where s.tid=t.tid and s.status=1 order by s.sid desc limit 0,6
	</select>
	
	<select id="querySnameService" resultMap="selectService">
		select * from service s,team t where s.tid=t.tid and s.status=1 order by s.sname desc
	</select>
	
	<select id="queryTnameService" resultMap="selectService">
		select * from service s,team t where s.tid=t.tid and s.status=1 order by t.tname desc
	</select>
	
	<select id="querySnumService" resultMap="selectService">
		select * from service s,team t where s.tid=t.tid and s.status=1 order by s.snum desc
	</select>
	
	<select id="querySctimeService" resultMap="selectService">
		select * from service s,team t where s.tid=t.tid and s.status=1 order by s.sctime desc
	</select>
	
	<select id="queryTheService" resultMap="selectService" parameterType="int">
		select * from service s,team t where s.tid=t.tid and s.status=1 and s.sid=#{sid}
	</select>
	
	<select id="querySomeService" resultMap="selectService" parameterType="com.example.designer.pojo.Services">
		select * from service s,team t 
		<where>
			s.tid=t.tid and s.status=1
			<if test="sname!=null and sname!=''">
				and s.sname=#{sname}
			</if>
			<if test="sintro!=null and sintro!=''">
				and t.tname=#{sintro}
			</if>
			<if test="smajor!=null and smajor!=''">
				and s.smajor=#{smajor}
			</if>
		</where>
	</select>
	
	<select id="queryAllMyService" resultMap="selectService" parameterType="int">
		select * from service s,team t,user u where u.tid=s.tid and s.tid=t.tid and s.status=1 and u.uid=#{uid}
	</select>
	
	<select id="querySomeMyService" resultMap="selectService" parameterType="com.example.designer.pojo.Services">
		select * from service s,team t,user u 
		<where>
			u.tid=s.tid and s.tid=t.tid and u.uid=#{sid} and s.status=1
			<if test="sname!=null and sname!=''">
				and s.sname=#{sname}
			</if>
			<if test="sintro!=null and sintro!=''">
				and t.tname=#{sintro}
			</if>
			<if test="smajor!=null and smajor!=''">
				and s.smajor=#{smajor}
			</if>
			<if test="sstate!=null and sstate!=''">
				and s.sstate=#{sstate}
			</if>
		</where>
	</select>
	
	<update id="editerservice" parameterType="com.example.designer.pojo.Services">
		update service set sname=#{sname} , uid=#{uid} 
		, stelephone=#{stelephone} , sstime=#{sstime} , setime=#{setime} 
		, sintro=#{sintro} 
		<if test="spic!=null and spic!=''">
			, spic=#{spic}
		</if>
		<if test="sfile!=null and sfile!=''">
			, sfile=#{sfile}
		</if>
		where sid=#{sid}
	</update>
	
	<resultMap type="com.example.designer.pojo.ServiceLink" id="selectServiceLink">
		<id property="seid" column="seid"/>
		<result property="sid" column="sid"/>
		<result property="uid" column="uid"/>
		<association property="service" javaType="com.example.designer.pojo.Services">
			<id property="sid" column="sid"/>
			<result property="uid" column="uid"/>
			<result property="tid" column="tid"/>
			<result property="mid" column="mid"/>
			<result property="sname" column="sname"/>
			<result property="spic" column="spic"/>
			<result property="snum" column="snum"/>
			<result property="sintro" column="sintro"/>
			<result property="smajor" column="smajor"/>
			<result property="sstime" column="sstime"/>
			<result property="setime" column="setime"/>
			<result property="sctime" column="sctime"/>
			<result property="sread" column="sread"/>
			<result property="sservice" column="sservice"/>
			<result property="sgood" column="sgood"/>
			<result property="sbad" column="sbad"/>
			<result property="status" column="status"/>	
			<result property="ssave" column="ssave"/>
			<result property="stelephone" column="stelephone"/>
			<result property="sfile" column="sfile"/>
			<result property="sstate" column="sstate"/>
			<association property="team" javaType="com.example.designer.pojo.TeamSci">
				<id property="tid" column="tid"/>
				<result property="uid" column="uid"/>
				<result property="mid" column="mid"/>
				<result property="tname" column="tname"/>
				<result property="tmajor" column="tmajor"/>
				<result property="tnum" column="tnum"/>
				<result property="tintro" column="tintro"/>
				<result property="tdate" column="tdate"/>
				<result property="tschool" column="tschool"/>
				<result property="tpic" column="tpic"/>
			</association>
		</association>
	</resultMap>
	<select id="selectTheServiceLink" resultMap="selectServiceLink" parameterType="com.example.designer.pojo.ServiceLink">
		select * from servicelink sl,service s,team t where sl.sid=s.sid and s.tid=t.tid and sl.uid=#{uid} and sl.sid=#{sid}
	</select>
</mapper>