*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.header{
	width: 1365px;
	height: 80px;
	background-color: white;
	margin: 0 auto;
	position: relative;
}
.header span{
	position: absolute;
	top: 17px;
	left: 50px;
	font-size: 30px;
	color: #0C87CB;
}
.main{
	width: 1365px;
	height: 510px;
	background:linear-gradient(#0C87CB,powderblue);
	position: relative;
}
.main .formbox{
	width: 300px;
	height: 320px;
	background-color: lightblue;
	position: absolute;
	top: 60px;
	left: 250px;
	position: relative;
}
.main .formbox span{
	position: absolute;
	top: 20px;
	left: 30px;
	font-size: 20px;
	color: #0C87CB;
}
.main .formbox #uname{
	background-color: white;
	border: 1px solid white;
	width: 230px;
	height: 30px;
	position: absolute;
	top: 70px;
	left: 30px;
	padding-left: 5px;
}
.main .formbox #upassword{
	background-color: white;
	border: 1px solid white;
	width: 230px;
	height: 30px;
	position: absolute;
	top: 120px;
	left: 30px;
	padding-left: 5px;
}
.main .formbox #submit{
	background-color: royalblue;
	border: none;
	color: white;
	width: 230px;
	height: 32px;
	position: absolute;
	top:210px;
	left: 30px;
}
.main .formbox #submit:hover{
	box-shadow:0 0 10px royalblue;
	cursor: pointer;
}
.main .formbox #check{
	height: 14px;
	line-height: 14px;
	position: absolute;
	top:170px;
	left: 30px;
	font-size: 14px;
	color: gray;
}
.main img{
	position: absolute;
	right: 130px;
	top: 0px;
	height: 500px;
}
.footer{
	width: 1365px;
	height: 30px;
	background-color: white;
	margin: 0 auto;
	position: relative;
}
.footer span{
	position: absolute;
	top: 15px;
	left: 450px;
	color: gray;
}
